:root {
  --header-height: 5rem;
  --footer-height: 10rem;

  --fs-default: 1rem;
  --lh-default: 1.5;

  --fs-tagline: 1.5rem;
  --lh-tagline: 1.5;

  --fs-h1: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --lh-h1: 1.2;

  --header-bg-color: navajowhite;
  /* --header-border-color: #dfe1e5; */
  --header-border-color: #e3530d;

  --main-color: #e3530d;
  --main-width: 80rem;
}

/* html {
  scroll-behavior: smooth;
} */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: var(--fs-default);
  line-height: var(--lh-default);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  font-weight: 700;
  margin: 0;
}

/* ------- LAYOUT -------- */
.header-container {
  height: var(--header-height);
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-border-color);
}
.page-container {
  height: calc(100svh - var(--header-height));
}
.page-container-secondary {
  height: calc(30svh - var(--header-height));
}
.footer-container {
  min-height: var(--footer-height);
  background-color: black;
}

/* ------- HEADER -------- */
.header-content {
  height: 100%;
  max-width: var(--main-width);
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-row-gap: 1rem; */
}
.search-and-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  border-left: 1px solid var(--header-border-color);
}
.main-menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}
.header-top {
  height: calc(var(--header-height) / 2);
  /* overflow: hidden; */
}
.header-bottom {
  height: calc(var(--header-height) / 2);
  width: 100%;
  border-top: 1px solid var(--header-border-color);
  /* overflow: hidden; */
}
.menu-item {
  display: inline-block;
  padding-inline: 1rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-item:hover {
  color: white;
  background-color: var(--main-color);
}
.book-now-button {
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 0;
  padding-inline: 1rem;
  border: 2px solid transparent;
}
.book-now-button:hover {
  border-color: var(--main-color);
  background-color: var(--header-bg-color);
  color: var(--main-color);
}

/* ------- LOGO -------- */
.logo-container {
  height: 5rem;
  width: 13.5rem;
  padding-inline: 1rem;
}
.logo {
  background-image: url(media/wcwr-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100%;
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in; */
}
.logo-container:hover {
  background-color: var(--main-color);
}
.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* ------- SEARCH -------- */
.search-container {
  min-width: 18rem;
  transform: translateX(-1px);
}
.gsc-control-cse {
  background-color: var(--header-bg-color) !important;
  /* border: 0 !important;
  border-left: 1px solid var(--header-border-color) !important; */
  border: 1px solid var(--header-border-color) !important;
  padding: 0 !important;
}
table.gsc-search-box td.gsc-input {
  padding: 0 !important;
}
.gsc-search-button {
  margin: 0 !important;
}
.gsc-search-button-v2 {
  background-color: var(--main-color) !important;
  border: 0 !important;
  padding: 13px 1rem !important;
  border-radius: 0 !important;
  /* transform: translateY(-1px); */
  cursor: pointer;
}
.gsc-search-button-v2:hover svg {
  fill: black;
}
form.gsc-search-box,
table.gsc-search-box {
  margin: 0 !important;
}
input.gsc-input {
  height: 1.75rem !important;
}
.gsc-input-box {
  padding: 0 !important;
  border-radius: 0 !important;
}

/* ------- MOBILE menu -------- */
.mobile-menu-icon {
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  width: 0;
  min-width: 3rem;
  display: none;
}
.navbar-toggle-icon {
  fill: var(--main-color);
  margin: auto;
}
.mobile-menu {
  overflow: hidden;
  height: 0;
  width: 100%;
  position: fixed;
  background-color: navajowhite;
  z-index: 100;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.mm-close-button-container {
  height: var(--header-height);
  width: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mm-close-button-border {
  border: 1px solid var(--main-color);
  border-radius: 0.25rem;
}
.mm-close-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-weight: 400;
  font-size: x-large;
  transform: translateY(-1px);
}
.mm-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.mm-menu {
  width: 50%;
  margin: auto;
  margin-bottom: 0.25rem;
}
.mm-menu .menu-item {
  font-size: larger;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
}
.mobile-menu .gsc-control-cse {
  background-color: navajowhite !important;
}
.mobile-menu .gsc-search-button-v2 {
  padding-block: 13px !important;
  transform: none !important;
}

/* ------- MAIN -------- */
.main-content {
  height: 100%;
  /* max-width: var(--main-width); */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row-gap: 1rem;
}

/* ------- main: INTRO -------- */
.intro {
  max-width: var(--main-width);
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__title {
  padding-block: clamp(1rem, 3vh, 2rem);
}
.intro__description {
  /* max-width: var(--main-width); */
  max-width: 48rem;
  margin: auto;
  padding-bottom: 3rem;
  font-size: clamp(0.95rem, 2vw, 1.1rem);

  text-overflow: ellipsis;
  /* overflow: hidden; */
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.intro__buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.button {
  border: 1px solid var(--main-color);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.button-dark {
  color: white;
  background-color: black;
}
.button:hover {
  color: var(--main-color);
  background-color: white;
}
.button-light {
  color: white;
  background-color: var(--main-color);
}

/* ------- main: IMAGE -------- */
.carousel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.carousel__screen {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid black; */
  overflow: hidden;
}
.option-image-container {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}
.option-image-container::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 83px;
  background-image: url(media/wave.png);
  background-repeat: repeat-x;
  background-position: left;
  z-index: 10;
}
.option-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  /* transition: all 1s ease-in-out; */
  width: 100%;
  position: absolute;
}
.image-first {
  background-image: url("media/options/accommodation/001.jpg");
  z-index: 1;
  /* width: 0%; */
}
.image-second {
  z-index: 0;
  /* width: 100%;
  background-image: url("/media/options/accommodation/001.jpg"); */
}
.image-tagline-container {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  z-index: 3;
}
.page-container-secondary .image-tagline-container {
  top: 45%;
  bottom: auto;
}
.image-tagline {
  display: inline-block;
  margin: auto;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-transform: capitalize;
  color: white;
  font-size: var(--fs-tagline);
  line-height: var(--lh-tagline);
  font-weight: bold;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
}
.image-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  grid-column-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

/* ------- main: ICONS -------- */
.carousel__options-list {
  /* grid-column-gap: 1rem;
  grid-row-gap: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-bottom: 1rem;
  max-height: 9.875rem;
  width: 100%; 
  max-width: var(--main-width);
  /* 128 * 9 = 1152 px; 72rem */
  overflow: hidden;
  position: relative;
}
.carousel-option {
  max-width: 8rem;
}
.carousel-option:hover {
  cursor: pointer;
  font-weight: bolder;
}
.option-icon {
  min-width: 8rem;
  min-height: 8rem;
  border: 1px solid transparent;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.carousel-option:hover .option-icon {
  border: 1px solid black;
  border-radius: 0.25rem;
}
.accommodation-icon {
  background-image: url(media/icons/accommodation.png);
  /* background-size: 40rem 15rem; */
  background-position-y: 0.5rem;
}
.fishing-icon {
  background-image: url(media/icons/fishing.png);
}
.kitchen-icon {
  background-image: url(media/icons/kitchen.png);
}
.surfing-icon {
  background-image: url(media/icons/surfing.png);
}
.whale-icon {
  background-image: url(media/icons/whale.png);
}
.animals-icon {
  background-image: url(media/icons/animals.png);
}
.rainforest-icon {
  background-image: url(media/icons/rainforest.png);
}
.lonely-doug-icon {
  background-image: url(media/icons/lonely_doug.png);
}
.ocean-icon {
  background-image: url(media/icons/ocean.png);
}
.bike-icon {
  background-image: url(media/icons/bike.png);
}

/* ------- main: ICONS slider -------- */
.slider {
  position: sticky;
  top: 0;
  width: 0;
  height: 100%;
  /* visibility: hidden; */
}
.slider-shadow {
  background-color: #e3530daa;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.slider-button-wrapper {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 4rem;
  height: 98%;
  transform: translateY(1px);
}
/* .slider-button-wrapper:hover {
  outline: 1px solid #33333333;
  backdrop-filter: blur(0.5rem);
} */
.slider-left {
  left: 1px;
  /* display: none; */
}
.slider-right {
  right: 0;
}
.slider-right .slider-button-wrapper {
  transform: translateX(-4rem) translateY(1px);
}
.slider-button {
  background-color: white;
  border: 1px solid;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 1.7;
  font-weight: 700;
  box-shadow: 0px 0px 10px 2px black;
  transition: transform 0.2s ease-in;
}

/* ------- TILES -------- */
.tiles {
  max-width: var(--main-width);
  margin-inline: auto;
  margin-block: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.tiles .item {
  height: 31.875rem;
  max-width: 18.125rem;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 10px 2px black;
  text-align: left;
}
.tiles .item .image {
  height: 18.125rem;
  max-width: 18.125rem;
}
.tiles .item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.tiles .item .content {
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.tiles .item .content .title h3 {
  margin-block: 1rem;
}
.tiles .item .content .link {
  margin-top: 2rem;
}
.tiles .item .content .link a {
  color: var(--main-color);
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-decoration: none;
  border-bottom: 2px solid var(--main-color);
}
.tiles .item .content .link a:hover {
  color: black;
  border-bottom: 0;
}

/* ------- FOOTER -------- */
.footer-content {
  height: 100%;
  max-width: var(--main-width);
  margin: auto;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-gap: 2rem;
  color: white;
}
.footer__logo {
  min-width: 10rem;
}
.footer__logo a {
  color: white;
  text-decoration: none;
}
/* ------- FOOTER up -------- */
.footer-up {
  display: flex;
  /* justify-content: space-between; */
  grid-column-gap: 2rem;
}
.footer__link-list {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 2rem;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column-title {
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer__column-link {
  padding-bottom: 1rem;
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.5;
}
.footer__column-link:hover {
  text-decoration: underline;
}
/* ------- FOOTER bottom -------- */
.footer-bottom {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.footer__text {
  display: inline-block;
}
.footer__link {
  color: white;
}

/* ------- MOBILE -------- */
@media screen and (max-width: 900px) {
  /* ------- header -------- */
  .main-menu {
    display: none;
  }
  .search-and-menu {
    display: none;
  }
  .mobile-menu-icon {
    width: auto;
    display: flex;
    align-items: center;
  }
  .logo {
    margin: auto;
  }
  .book-now-button {
    display: none;
  }
  /* ------- main -------- */
  .intro__description {
    flex-basis: 0;
    padding-inline: 0.5rem;
  }
  .intro__buttons {
    margin: 0;
  }
  /* ------- carousel -------- */
  .carousel-option {
    width: 100%;
    max-width: 100%;
  }
  .carousel-option:hover {
    cursor: default;
    font-weight: normal;
  }
  .option-icon {
    width: 100vw;
    max-width: 100%;
    background-position-x: center;
  }
  .carousel-option:hover .option-icon {
    border: none;
  }
  .slider-shadow {
    width: 100%;
    border-radius: 0;
    background-color: transparent;
  }
  .tiles .item .content .link a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  /* ------- footer -------- */
  .footer-up {
    justify-content: center;
  }
  .footer__link-list {
    grid-column-gap: 1rem;
    width: 100%;
    justify-content: space-around;
  }
  .footer__logo {
    display: none;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom-right {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1152px) {
  .slider {
    display: none;
  }
}
