:root {
  --header-height: 5rem;
  --footer-height: 10rem;

  --ff-effra: Effra, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --fs-effra: 1.3rem;
  --lh-effra: 1.5;

  --fs-default: 1rem;
  --lh-default: 1.5;

  --fs-tagline: 1.5rem;
  --lh-tagline: 1.5;

  --fs-title: 2rem;
  --lh-title: 2;

  --fs-h1: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --lh-h1: 1.2;

  /* --header-bg-color: navajowhite; */
  --header-bg-color: #c2a061;
  /* --header-border-color: #dfe1e5; */
  --header-border-color: #e3530d;
  --main-color: #e3530d;
  --black-color: #111111;
  --white-color: #f9f9f9;
  --golden-color: #c2a061;
  --link-color: #0170b9;

  --middle-width: 48rem;
  --main-width: 80rem;
  --wide-width: 120rem;
}

@font-face {
  font-family: "Brunette";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("media/font/Brunette.ttf");
  /* format("truetype") */
  /* local("Trickster"),
    url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
    url("trickster-outline.otf") format("opentype"),
    url("trickster-outline.woff") format("woff"); */
}

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * effra:
 *   - http://typekit.com/eulas/00000000000000003b9b489b
 *   - http://typekit.com/eulas/00000000000000003b9b489a
 *   - http://typekit.com/eulas/00000000000000003b9b489e
 *   - http://typekit.com/eulas/00000000000000003b9b489f
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-03-02 19:40:33 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jce0tkk&ht=tk&f=9785.9786.9787.9788&a=6430878&app=typekit&e=css");

@font-face {
  font-family: "effra";
  src: url("https://use.typekit.net/af/2dce9d/00000000000000003b9b489b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2dce9d/00000000000000003b9b489b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2dce9d/00000000000000003b9b489b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("https://use.typekit.net/af/199ff2/00000000000000003b9b489a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/199ff2/00000000000000003b9b489a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/199ff2/00000000000000003b9b489a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("https://use.typekit.net/af/23ddd7/00000000000000003b9b489e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/23ddd7/00000000000000003b9b489e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/23ddd7/00000000000000003b9b489e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "effra";
  src: url("https://use.typekit.net/af/f8c60c/00000000000000003b9b489f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/f8c60c/00000000000000003b9b489f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/f8c60c/00000000000000003b9b489f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

/* html {
  scroll-behavior: smooth;
} */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: var(--fs-default);
  line-height: var(--lh-default);
  font-family: var(--ff-effra);
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  font-weight: 700;
  margin: 0;
}

/* ------- LAYOUT -------- */
.header-container {
  height: var(--header-height);
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-border-color);
}
.page-container {
  height: calc(100svh - var(--header-height));
}
.page-container-secondary {
  height: calc(30svh - var(--header-height));
}
.footer-container {
  min-height: var(--footer-height);
  background-color: var(--black-color);
}

/* ------- HEADER -------- */
.header-content {
  height: 100%;
  max-width: var(--main-width);
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-row-gap: 1rem; */
}
.search-and-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  border-left: 1px solid var(--header-border-color);
}
.main-menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}
.header-top .main-menu {
  display: inline-flex;
  width: 50%;
}
.header-top {
  height: calc(var(--header-height) / 2);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  /* overflow: hidden; */
}
.header-bottom {
  height: calc(var(--header-height) / 2);
  width: 100%;
  border-top: 1px solid var(--header-border-color);
  /* overflow: hidden; */
}
.menu-item {
  display: inline-block;
  padding-inline: clamp(0.5rem, 1rem, 1.5rem);
  color: var(--black-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}
.menu-item:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}
.book-now-button {
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 0;
  padding-inline: 1rem;
  border: 2px solid transparent;
}
.book-now-button:hover {
  border-color: var(--main-color);
  /* background-color: var(--header-bg-color); */
  background-color: var(--white-color);
  color: var(--main-color);
}

/* ------- LOGO -------- */
.logo-container {
  height: 5rem;
  width: 13.5rem;
  padding-inline: 1rem;
}
.logo {
  background-image: url(media/wcwr-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100%;
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in; */
}
.logo-container:hover {
  background-color: var(--main-color);
}
.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* ------- SEARCH -------- */
.search-container {
  min-width: 18rem;
  width: 50%;
  /* transform: translateX(-1px); */
}
.gsc-control-cse {
  background-color: var(--header-bg-color) !important;
  /* border: 0 !important;
  border-left: 1px solid var(--header-border-color) !important; */
  border: 1px solid var(--header-border-color) !important;
  padding: 0 !important;
}
table.gsc-search-box td.gsc-input {
  padding: 0 !important;
}
.gsc-search-button {
  margin: 0 !important;
}
.gsc-search-button-v2 {
  background-color: var(--main-color) !important;
  border: 0 !important;
  padding: 13px 1rem !important;
  border-radius: 0 !important;
  /* transform: translateY(-1px); */
  cursor: pointer;
}
.gsc-search-button-v2:hover svg {
  fill: var(--black-color);
}
form.gsc-search-box,
table.gsc-search-box {
  margin: 0 !important;
}
input.gsc-input {
  height: 1.75rem !important;
}
.gsc-input-box {
  padding: 0 !important;
  border-radius: 0 !important;
}

/* ------- MOBILE menu -------- */
.mobile-menu-icon {
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  width: 0;
  min-width: 3rem;
  display: none;
}
.navbar-toggle-icon {
  fill: var(--main-color);
  margin: auto;
}
.mobile-menu {
  overflow: hidden;
  height: 0;
  width: 100%;
  position: fixed;
  background-color: var(--header-bg-color);
  z-index: 100;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.mm-close-button-container {
  height: var(--header-height);
  width: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mm-close-button-border {
  border: 1px solid var(--main-color);
  border-radius: 0.25rem;
}
.mm-close-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-weight: 400;
  font-size: x-large;
  transform: translateY(-1px);
}
.mm-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.mm-menu {
  width: 50%;
  margin: auto;
  margin-bottom: 0.25rem;
}
.mm-menu .menu-item {
  font-size: larger;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0;
}
.mobile-menu .gsc-control-cse {
  background-color: var(--header-bg-color) !important;
}
.mobile-menu .gsc-search-button-v2 {
  padding-block: 13px !important;
  transform: none !important;
}

/* ------- MAIN -------- */
.main-content {
  height: 100%;
  /* max-width: var(--main-width); */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row-gap: 1rem;
}

/* ------- main: INTRO -------- */
.intro {
  max-width: var(--main-width);
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__title {
  padding-block: clamp(1rem, 3vh, 2rem);
}
.intro__title .fancy-title {
  font-family: "Brunette";
  font-size: 6rem;
  word-spacing: 1rem;
  color: var(--black-color);
}
.intro__description {
  /* max-width: var(--main-width); */
  max-width: var(--middle-width);
  margin: auto;
  padding-bottom: 3rem;
  /* font-size: clamp(0.95rem, 2vw, 1.1rem); */
  font-size: var(--fs-effra);
  line-height: var(--lh-effra);

  text-overflow: ellipsis;
  /* overflow: hidden; */
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.intro__buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.button {
  border: 1px solid var(--main-color);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.button-dark {
  color: white;
  background-color: var(--black-color);
}
.button:hover {
  color: var(--main-color);
  background-color: white;
}
.button-light {
  color: white;
  background-color: var(--main-color);
}

/* ------- main: IMAGE -------- */
.carousel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.carousel__screen {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid black; */
  overflow: hidden;
}
.option-image-container {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}
.option-image-container::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 83px;
  background-image: url(media/wave.png);
  background-repeat: repeat-x;
  background-position: left;
  z-index: 10;
}
.option-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  /* transition: all 1s ease-in-out; */
  width: 100%;
  position: absolute;
}
body.policy .image-main,
.image-first {
  background-image: url("media/options/accommodation/001.jpg");
  z-index: 1;
  /* width: 0%; */
}
.image-second {
  z-index: 0;
  /* width: 100%;
  background-image: url("media/options/accommodation/001.jpg"); */
}
/* accommodations */
body.cotton-wood .image-main {
  background-image: url("media/options/accommodation/cotton-wood/003.jpg");
  z-index: 1;
}
body.sitka .image-main {
  background-image: url("media/options/accommodation/sitka/index.jpg");
  z-index: 1;
}
body.suites .image-main {
  background-image: url("media/options/accommodation/suites/index.jpg");
  z-index: 1;
}
body.huts .image-main {
  background-image: url("media/options/accommodation/huts/005.jpg");
  z-index: 1;
}
/* activities */
body.salmon-fishing .image-main,
body.halibut-fishing .image-main {
  background-image: url("media/options/fishing/index.jpg");
  z-index: 1;
}
body.catch .image-main {
  background-image: url("media/options/fishing/011.jpg");
  z-index: 1;
}
body.kitchen .image-main {
  background-image: url("media/options/kitchen/001.jpg");
  z-index: 1;
}
body.about-us .image-main {
  background-image: url("media/general/about-us.jpg");
  z-index: 1;
}
body.gear .image-main {
  background-image: url("media/options/gear/index.jpg");
  z-index: 1;
}
.image-tagline-container {
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  z-index: 3;
}
.page-container-secondary .image-tagline-container {
  top: 40%;
  bottom: auto;
}
.image-tagline {
  display: inline-block;
  margin: auto;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-transform: capitalize;
  color: white;
  /* font-family: "Brunette"; */
  font-size: var(--fs-tagline);
  line-height: var(--lh-tagline);
  font-weight: bold;
  backdrop-filter: blur(1rem);
  border-radius: 0.5rem;
}
.image-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  grid-column-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

/* ------- main: ICONS -------- */
.carousel__options-list {
  /* grid-column-gap: 1rem;
  grid-row-gap: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-bottom: 1rem;
  max-height: 11rem;
  width: 100%;
  max-width: var(--main-width);
  /* 128 * 9 = 1152 px; 72rem */
  /* 128 * 7 = 896 px; 56rem */
  overflow: hidden;
  position: relative;
}
.carousel-option {
  max-width: 8rem;
}
.carousel-option a {
  text-decoration: none;
  color: var(--black-color);
}
.carousel-option:hover {
  cursor: pointer;
  font-weight: bolder;
}
.option-icon {
  min-width: 8rem;
  min-height: 8rem;
  border: 1px solid transparent;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.carousel-option:hover .option-icon {
  border: 1px solid var(--golden-color);
  border-radius: 0.25rem;
}
.carousel-option .option-title {
  font-size: var(--fs-effra);
  line-height: var(--lh-effra);
}
.accommodation-icon {
  background-image: url(media/icon/white/accommodation.png);
  /* background-size: 40rem 15rem; */
  background-position-y: 0.5rem;
}
.fishing-icon {
  background-image: url(media/icon/white/fishing.png);
}
.kitchen-icon {
  background-image: url(media/icon/white/kitchen.png);
}
.surfing-icon {
  background-image: url(media/icon/white/surfing.png);
}
.whale-icon {
  background-image: url(media/icons/whale.png);
}
.kayaking-icon {
  background-image: url(media/icon/white/kayaking.png);
}
.animals-icon {
  background-image: url(media/icon/white/watching.png);
}
.rainforest-icon {
  background-image: url(media/icons/rainforest.png);
}
.lonely-doug-icon {
  background-image: url(media/icons/lonely_doug.png);
}
.ocean-icon {
  background-image: url(media/icons/ocean.png);
}
.bike-icon {
  background-image: url(media/icon/white/bike.png);
}

/* ------- main: ICONS slider -------- */
.slider {
  position: sticky;
  top: 0;
  width: 0;
  height: 100%;
  /* visibility: hidden; 0, 70, 330, 400 */
}
.slider-shadow {
  /* background-color: #e3530daa; */
  background-color: var(--golden-color);
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.slider-button-wrapper {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 4rem;
  height: 98%;
  transform: translateY(1px);
}
/* .slider-button-wrapper:hover {
  outline: 1px solid #33333333;
  backdrop-filter: blur(0.5rem);
} */
.slider-left {
  left: 1px;
  /* display: none; */
}
.slider-right {
  right: 0;
}
.slider-right .slider-button-wrapper {
  transform: translateX(-4rem) translateY(1px);
}
.slider-button {
  background-color: white;
  border: 1px solid;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 1.9;
  font-weight: 700;
  box-shadow: 0px 0px 10px 2px black;
  transition: transform 0.2s ease-in;
}

/* ------- TILES -------- */
.tiles {
  max-width: var(--wide-width);
  margin-inline: auto;
  margin-block: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.tiles .item {
  min-height: 32rem;
  max-width: 18.125rem;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 10px 2px black;
  text-align: left;
  background-color: var(--white-color);
}
.tiles .item .image {
  height: 18.125rem;
  max-width: 18.125rem;
}
.tiles .item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.tiles .item .content {
  padding: 1.5rem;
  min-height: calc(100% - 18.125rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tiles .item .content .title h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.tiles .item .content .title {
  font-size: var(--fs-effra);
  line-height: var(--lh-effra);
}
.tiles .item .content .link a {
  color: var(--main-color);
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-decoration: none;
  border-bottom: 2px solid var(--main-color);
}
.tiles .item .content .link a:hover {
  color: var(--black-color);
  border-bottom: 0;
}

/* ------- accommodation page -------- */
.location-includes-container {
  background-color: var(--black-color);
  color: var(--white-color);
}
.location-includes-container .wrapper {
  max-width: 30rem;
  margin: auto;
  padding-block: 2rem;
}
.location .intro__description {
  margin-bottom: 0;
  padding-bottom: 2rem;
  text-align: justify;
}
.location .image-buttons {
  margin-top: 0;
  margin-bottom: 2rem;
}
.location .intro__title,
.location-includes-container .title {
  text-transform: uppercase;
  font-family: "Brunette";
  font-size: var(--fs-title);
  font-weight: 700;
  line-height: var(--lh-title);
  text-align: center;
  word-spacing: 1rem;
}
body.kitchen .aux-container .intro__title {
  text-transform: none;
  font-size: 4rem;
  font-weight: 100;
}
.location-includes-container .title {
  margin-bottom: 1rem;
}
.location-includes-container .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.location-includes-container .item {
  margin-bottom: 1rem;
}
.location-includes-container .item .checkmark {
  display: none;
  /* display: inline-block;
  color: var(--main-color);
  margin-right: 0.5rem;
  font-size: var(--fs-tagline); */
}
.location-includes-container .item .text {
  display: inline-block;
}

.location-gallery-container {
  padding: 1rem;
}
.location-gallery-container .options .image-main {
  grid-area: main;
}
.location-gallery-container .options .image1 {
  grid-area: image1;
}
.location-gallery-container .options .image2 {
  grid-area: image2;
}
.location-gallery-container .options .image3 {
  grid-area: image3;
}
.location-gallery-container .options .image4 {
  grid-area: image4;
}
.location-gallery-container .options .image5 {
  grid-area: image5;
}
.location-gallery-container .options .image6 {
  grid-area: image6;
}
.location-gallery-container .options .image7 {
  grid-area: image7;
}
.location-gallery-container .options .image8 {
  grid-area: image8;
}
.location-gallery-container .options .image9 {
  grid-area: image9;
}
.location-gallery-container .options {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.location-gallery-container .options.cabins {
  grid-template-areas:
    "main main image1 image1"
    "main main image2 image2"
    "image3 image3 image3 image3"
    "image5 image5 image4 image6"
    "image5 image5 image8 image8";
}
.location-gallery-container .options.cotton-wood {
  grid-template-areas:
    "image1 image1 image2 image3"
    "image1 image1 image4 image5"
    "image6 image6 main main";
}
.location-gallery-container .options.sitka-spruce {
  grid-template-areas:
    "image1 image1 image2 image3"
    "image1 image1 image4 image5"
    "image6 image6 main main";
}
.location-gallery-container .options.suites {
  grid-template-areas:
    "image5 image5 image1 image1"
    "image5 image5 image2 image2"
    "image3 image3 image3 image3"
    "image7 image7 image4 image6"
    "image7 image7 main main";
}
.location-gallery-container .options.huts {
  grid-template-areas:
    "main main image3 image3"
    "main main image4 image4"
    "image6 image6 image5 image5"
    "image1 image1 image2 image2";
}
.location-gallery-container .options.salmon-fishing {
  grid-template-areas:
    "image4 image4 image5 image8"
    "image4 image4 image2 image7";
}
.location-gallery-container .options.freshwater-fishing,
.location-gallery-container .options.halibut-fishing {
  grid-template-areas:
    "image4 image4 image5 image9"
    "image4 image4 image2 image7";
}
.location-gallery-container .options.catch {
  grid-template-areas:
    "image7 image7 image5 image8"
    "image7 image7 image2 image4";
}
.location-gallery-container .options.kitchen {
  grid-template-areas:
    "image2 image2 image3 image3 image6 image6"
    "image4 image4 image4 image5 image5 image5"
    "image7 image7 image8 image8 image9 image9";
}
.location-gallery-container .options.about-us {
  grid-template-areas:
    "image1 image1 image2 image2 image3 image3"
    "image4 image4 image4 image5 image5 image5";
}
.location-gallery-container .options.livecam {
  grid-template-areas: "image1 image2";
}
.location-gallery-container .options.gear {
  grid-template-areas: "image1 image2";
}
.location-gallery-container .options img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ------- cabins -------- */
.image-cabins {
  background-image: url("media/options/accommodation/cabins/index.jpg");
}

.link {
  text-decoration: none;
  color: var(--link-color);
}

.aux-container-wrapper {
  max-width: var(--middle-width);
  margin-inline: auto;
}
.aux-container .grid {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}
.aux-container .grid-item {
  text-align: center;
}
.aux-container .grid-item .number {
  background-color: var(--golden-color);
  color: var(--white-color);
  font-size: 5rem;
  border-bottom: 0.5rem solid var(--white-color);
}
.aux-container .grid-item .fish {
  background-color: var(--golden-color);
  color: var(--white-color);
  font-size: 1.5rem;
  padding: 1rem;
}
.aux-container .grid-item .text {
  font-family: var(--ff-effra);
  font-size: 1.1rem;
  padding-block: 1rem;
}

/* ------- activities page -------- */
.includes-container {
  background-color: var(--black-color);
  color: var(--white-color);
}
.includes-container .wrapper {
  max-width: var(--middle-width);
  margin: auto;
  padding-block: 2rem;
}
.includes-container .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.includes-container .item {
  margin-bottom: 1rem;
}
.includes-container .item.main {
  margin-bottom: 3rem;
}
.includes-container .item .checkmark {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}
.includes-container .item .description {
  text-align: justify;
  font-family: var(--ff-effra);
  font-size: var(--fs-effra);
  line-height: var(--lh-effra);
}
.includes-container .intro__description {
  text-align: center;
  padding-bottom: 0;
}
.intro .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: auto;
  text-align: justify;
  align-items: start;
  justify-content: start;
  padding: 2rem;
}
.intro .grid .intro__description {
  margin: initial;
}

/* ------- kitchen page -------- */
.includes-container.schedule .wrapper {
  padding-inline: 0;
  padding-block: 1rem;
}
.includes-container.schedule .grid {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  grid-row-gap: 2rem;
  margin: auto;
}
.includes-container.schedule .item {
  margin-bottom: 0;
  text-align: center;
}
.includes-container.schedule .item .time {
  display: inline-block;
}
.includes-container.schedule .item .text {
  text-align: right;
}
.includes-container.schedule .item.weekend {
  color: var(--golden-color);
}

/* ------- kitchen menu -------- */
.kitchen-menu-container {
  padding-inline: 1rem;
}
.kitchen-menu-wrapper {
  max-width: var(--middle-width);
  margin-block: 2rem;
  margin-inline: auto;
}
.kitchen-menu-container .menu-title {
  color: var(--golden-color);
  font-size: var(--fs-title);
}
.kitchen-menu-container .menu-item {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
  white-space: normal;
}
.kitchen-menu-container .name-price {
  font-size: var(--fs-effra);
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
}
.kitchen-menu-container .price {
  text-align: right;
}
.kitchen-menu-container .price.wide {
  min-width: 3rem;
}
.kitchen-menu-container .gap {
  border-bottom: 0.125rem dotted;
  margin-inline: 0.25rem;
  flex-grow: 1;
  transform: translateY(-0.5rem);
}
.kitchen-menu-container .content {
  font-size: var(--fs-default);
  margin-top: 0.25rem;
}

/* ------- pie clock -------- */
.clock {
  width: 5em;
  height: 5em;
  display: block;
  border-radius: 50%;
  background-color: var(--black-color);
  border: 2px solid var(--white-color);
  margin-inline: auto;
  margin-block: 1rem;
}
.normal .clock {
  background-image: linear-gradient(0deg, transparent 50%, white 50%),
    linear-gradient(165deg, white 50%, transparent 50%);
}
.long .clock {
  background-image: linear-gradient(115deg, transparent 50%, white 50%),
    linear-gradient(165deg, white 50%, transparent 50%);
}
.short .clock {
  background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(165deg, white 50%, transparent 50%);
}
.includes-container.schedule .item .text.plain {
  display: none;
}

/* ------- policy page -------- */
.list-section {
  max-width: var(--middle-width);
  margin-inline: auto;
  font-family: var(--ff-effra);
  font-size: var(--fs-effra);
  padding-inline: 2rem;
}
.list ul {
  margin-bottom: 3rem;
}

/* ------- faq -------- */
.faq .list-section {
  border: 1px solid lightgray;
  margin-bottom: 2rem;
  padding: 0;
}
.question {
  padding-block: 1rem;
  padding-inline: 1rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.answer:last-of-type,
.question:last-of-type {
  border-bottom: none;
}
.question .open,
.question .closed {
  font-size: 1.25rem;
  font-weight: 900;
  display: inline-block;
  width: 1.25rem;
  text-align: center;
}
.answer {
  border-bottom: 1px solid lightgray;
  padding-inline: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.question .open {
  display: none;
}
.question.active + .answer {
  max-height: 50rem;
  padding-block: 1rem;
}
.question.active .open {
  display: inline-block;
}
.question.active .closed {
  display: none;
}

/* ------- pricing plan -------- */
.pricing .intro .title {
  text-transform: uppercase;
  font-family: "Brunette";
  font-size: var(--fs-h1);
  font-weight: 700;
  line-height: var(--lh-h1);
  text-align: center;
  word-spacing: 1rem;
}
.pricing .tiles {
  margin-bottom: 5rem;
}
.pricing .tiles .item {
  max-width: 24rem;
}
.pricing .tiles.wide .item {
  width: 24rem;
}
.pricing .tiles .content {
  padding-block: 3rem;
  padding-inline: 2rem;
  height: 100%;
  min-height: calc(100% - 15rem);
}
.pricing .tiles .sub {
  font-weight: 700;
}
.pricing .tiles .price {
  font-size: 3rem;
}
.pricing .tiles .line {
  border-bottom: 1px solid var(--black-color);
  margin-block: 1rem;
}
.pricing .tiles .price h3 {
  margin: 0;
}
.pricing .tiles .description {
  margin-bottom: 0.5rem;
}
.pricing .tiles .checkmark {
  margin-right: 0.75rem;
}
.pricing .intro .link a,
.pricing .tiles .item .content .link a {
  display: block;
  text-align: center;
  background-color: var(--black-color);
  color: var(--white-color);
  padding-block: 0.5rem;
  text-decoration: none;
  border: 1px solid var(--black-color);
  font-weight: 400;
}
.pricing .intro .link a:hover,
.pricing .tiles .item .content .link a:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.pricing .intro .link a {
  width: 10rem;
  margin: auto;
}
.pricing .last-section {
  margin-bottom: 3rem;
}
.pricing .list-section {
  margin-bottom: 3rem;
}
.pricing .description {
  font-size: var(--fs-effra);
  margin-block: 1rem;
}
.pricing .intro__description {
  margin-block: 1rem;
  text-align: justify;
}

.about-us .intro__description {
  text-align: justify;
}
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.two-column .intro__description {
  margin: initial;
}

.map-wrapper {
  width: var(--middle-width);
  margin-inline: auto;
}
.map {
  width: 100%;
  min-height: 30rem;
}

/* ------- background -------- */
body {
  position: relative;
}
.intro::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("media/gold-waves.png");
  background-repeat: repeat;
  background-position: 50% 0;
  /* background-size: cover; */
  z-index: -1;
}
.pricing .intro::before {
  opacity: 0.1;
}
/* .livecam .intro::before {
  opacity: 0.8;
}
.kitchen .intro::before {
  opacity: 0.7;
}
.faq .intro::before {
  opacity: 0.5;
}
.accommodations .intro::before,
.cabins .intro::before,
.contact-us .intro::before {
  opacity: 0.3;
}
.about-us .intro::before {
  opacity: 0.2;
} */

/* ------- FOOTER -------- */
.footer-content {
  height: 100%;
  max-width: var(--main-width);
  margin: auto;
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-gap: 2rem;
  color: var(--white-color);
}
.footer__logo {
  min-width: 10rem;
}
.footer__logo a {
  color: var(--white-color);
  text-decoration: none;
}
.footer__logo .logo-container {
  margin-inline: auto;
  height: 5rem;
  width: 13.5rem;
  padding: 0;
}
.footer__logo .logo {
  background-image: url(media/wcwr-logo-gold.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100%;
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in; */
}
.footer__logo .logo-container:hover {
  background-color: var(--black-color);
}
.footer__logo .logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer-address {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-row-gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}
.footer-address .icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 1;
}

/* ------- FOOTER up -------- */
.footer-up {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 2rem;
}
.footer__link-list {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 2rem;
  margin-top: 0.75rem;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column-title {
  font-family: "Brunette";
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--golden-color);
}
.footer__column-link {
  padding-bottom: 1rem;
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.5;
}
.footer__column-link:hover {
  text-decoration: underline;
}
/* ------- FOOTER bottom -------- */
.footer-bottom {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
}
.footer__text {
  display: inline-block;
}
.footer__link {
  color: var(--white-color);
  margin-right: 1rem;
}
.section-social,
.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  grid-column-gap: 1rem;
  margin-top: 1rem;
}
.section-social {
  justify-content: center;
  margin-top: 0;
}
.footer-social a {
  display: inline-flex;
  vertical-align: middle;
}
.footer-social img {
  width: 50px;
  height: 50px;
}
.footer-social .facebook {
  background-color: var(--white-color);
  border-radius: 1.5rem;
}
.footer-social .instagram {
  background-color: var(--white-color);
  border-radius: 1rem;
}

/* ------- TABLET/MOBILE -------- */
@media screen and (max-width: 900px) {
  /* ------- header -------- */
  .main-menu {
    display: none;
  }
  .search-and-menu {
    display: none;
  }
  .mobile-menu-icon {
    width: auto;
    display: flex;
    align-items: center;
  }
  .logo {
    margin: auto;
  }
  .book-now-button {
    display: none;
  }

  /* ------- main -------- */
  .intro__description {
    flex-basis: 0;
    padding-inline: 0.5rem;
  }
  .intro__buttons {
    margin: 0;
  }
  .intro__title .fancy-title {
    font-size: 3rem;
  }

  /* ------- carousel -------- */
  .carousel-option {
    width: 100%;
    max-width: 100%;
  }
  .carousel-option:hover {
    cursor: default;
    font-weight: normal;
  }
  .option-icon {
    width: 100vw;
    max-width: 100%;
    background-position-x: center;
  }
  .carousel-option:hover .option-icon {
    border: none;
  }
  .slider-shadow {
    width: 100%;
    border-radius: 0;
    background-color: transparent;
  }
  .tiles .item .content .link a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  /* ------- accommodation page -------- */
  .location-includes-container .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    padding-inline: 1rem;
  }

  .aux-container .grid {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .includes-container .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .includes-container .wrapper {
    padding: 1rem;
  }

  /* ------- pricing -------- */
  .pricing .tiles {
    grid-column-gap: 0;
    justify-content: space-evenly;
  }

  /* ------- footer -------- */
  .footer-up {
    justify-content: center;
  }
  .footer__link-list {
    grid-column-gap: 1rem;
    width: 100%;
    justify-content: space-around;
  }
  .footer__logo {
    display: none;
  }
  .footer-bottom {
    flex-direction: column-reverse;
  }
  .footer-bottom-right {
    display: flex;
    flex-direction: column;
  }

  .location-gallery-container {
    padding: 0.5rem;
  }
  .location-gallery-container .options {
    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  .map-wrapper,
  .map {
    width: 100%;
  }
}

@media screen and (min-width: 896px) {
  .slider {
    display: none;
  }
}

/* ------- MOBILE only -------- */
@media screen and (max-width: 767px) {
  .two-column {
    grid-template-columns: 1fr;
  }
  .includes-container .options {
    display: block;
    grid-row-gap: 1rem;
  }
  .intro .grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .location-includes-container .options {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 15rem;
    margin: auto;
  }
  body.suites .location-includes-container .options {
    max-width: 13rem;
  }
  .location-gallery-container {
    padding-block: 0.5rem;
    padding-inline: 0;
  }
  .location-gallery-container .options {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
  }
  .location-gallery-container .options.cabins {
    grid-template-areas:
      "main"
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image8";
  }
  .location-gallery-container .options.cotton-wood {
    grid-template-areas:
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "main";
  }
  .location-gallery-container .options.sitka-spruce {
    grid-template-areas:
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "main";
  }
  .location-gallery-container .options.suites {
    grid-template-areas:
      "main"
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image7";
  }
  .location-gallery-container .options.huts {
    grid-template-areas:
      "main"
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image7";
  }
  .location-gallery-container .options.salmon-fishing {
    grid-template-areas:
      "image4"
      "image5"
      "image8"
      "image2"
      "image7";
  }
  .location-gallery-container .options.freshwater-fishing,
  .location-gallery-container .options.halibut-fishing {
    grid-template-areas:
      "image4"
      "image5"
      "image9"
      "image2"
      "image7";
  }
  .location-gallery-container .options.catch {
    grid-template-areas: "image7";
  }
  .location-gallery-container .options.catch .image2,
  .location-gallery-container .options.catch .image4,
  .location-gallery-container .options.catch .image5,
  .location-gallery-container .options.catch .image8 {
    display: none;
  }
  .location-gallery-container .options.gear,
  .location-gallery-container .options.livecam {
    grid-template-areas:
      "image1"
      "image2";
  }
  .location-gallery-container .options.kitchen {
    grid-template-areas:
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image7"
      "image8"
      "image9";
  }
  .location-gallery-container .options.about-us {
    grid-template-areas:
      "image1"
      "image2"
      "image3"
      "image4"
      "image5";
  }
  body.catch .image-buttons {
    flex-direction: column;
    grid-row-gap: 1rem;
  }
  body.catch .image-buttons .button {
    flex-direction: column;
    grid-row-gap: 1rem;
    align-items: stretch;
    padding-inline: 15%;
  }
  .includes-container.schedule .grid {
    flex-direction: column;
  }
  .includes-container.schedule .grid .item {
    position: relative;
  }
  .includes-container.schedule .item .text.plain {
    text-align: center;
    font-size: var(--fs-default);
    display: inline-block;
    margin-left: 0.5rem;
  }
  .includes-container.schedule .item .time,
  .includes-container.schedule .item .clock {
    display: none;
  }
  .schedule .open,
  .schedule .close {
    position: absolute;
  }
  .normal .open {
    top: calc(50% - -1.5rem);
    left: calc(50% - 6.5rem);
  }
  .normal .close {
    top: calc(50% - -0.5rem);
    left: calc(50% - -3rem);
  }
  .short .open {
    top: calc(50% - -1.5rem);
    left: calc(50% - 6.5rem);
  }
  .short .close {
    top: calc(50% - 2.5rem);
    left: calc(50% - 5rem);
  }
  .long .open {
    top: calc(50% - -1.5rem);
    left: calc(50% - 6.5rem);
  }
  .long .close {
    top: calc(50% - -3.5rem);
    left: calc(50% - 2rem);
  }

  .pricing .tiles {
    justify-content: center;
    flex-wrap: wrap;
  }
}
