<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-up">
        <div class="footer__logo"><a href="/">WCWR</a></div>
        <div class="footer__link-list">
          <div class="footer__column">
            <div class="footer__column-title">Explore More</div>
            <a href="#about-us" class="footer__column-link">About Us</a>
            <a href="#contact-us" class="footer__column-link">Contact Us</a>
            <a href="#faq" class="footer__column-link">FAQs</a>
          </div>
          <div class="footer__column">
            <div class="footer__column-title">Discover</div>
            <a href="/accommodations.html" class="footer__column-link"
              >Accommodations</a
            >
            <a href="#explore/activities" class="footer__column-link"
              >Activities</a
            >
            <a href="#explore/dining" class="footer__column-link">Dining</a>
            <a href="#explore/events" class="footer__column-link">Events</a>
            <a href="#explore/gallery" class="footer__column-link">Gallery</a>
          </div>
          <div class="footer__column">
            <div class="footer__column-title">Plan</div>
            <a href="#explore/location" class="footer__column-link"
              >Location</a
            >
            <a href="#explore/rates" class="footer__column-link">Rates</a>
            <a href="#explore/packages" class="footer__column-link"
              >Packages</a
            >
            <a href="#explore/offers" class="footer__column-link"
              >Special Offers</a
            >
            <a
              class="footer__column-link"
              target="_blank"
              href="https://secure.webrez.com/hotel/3433?location_id=1799"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-left">
          <div class="footer__text">
            © 2023 Port Renfrew Wild Coast Wilderness Resort. All rights
            reserved.
          </div>
        </div>
        <div class="footer-bottom-right">
          <a class="footer__link" href="#privacy-policy">Privacy Policy</a>
          <a class="footer__link" href="#terms-of-service"
            >Terms of Service</a
          >
          <a class="footer__link" href="#cookie-policy">Cookie Policy</a>
        </div>
      </div>
    </div>
  </footer>